  .container{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center; 
    -webkit-flex-wrap: wrap;
    margin: 0 10%;
  }

.frame {
	background: #fff;
	border-radius: 24px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
	padding: 20px 14px 40px;
	max-width: 350px;
	width: 100%;
	font-size: 14px;
    margin: 5px; /* タイル間の余白 */
    height: 100%;
}

.photo_head {
	align-items: center;
	padding-bottom: 14px;
}
.icon {
	padding-right: 6px;
}
.photo {
    width: 100%;
    max-width: 100%; /* 画像を.frame要素の幅に合わせて自動的に縮小 */
	/*width: calc(100% + 28px);*/
    max-height: 100%;
	position: relative;
	/*left: -14px;*/
    overflow: hidden;
    object-fit: cover;
}
.link_area {
    display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
.link_area .left {
    display: flex;
	/*justify-content: space-between;*/
    align-items: center;
	/*width: 30%;*/
}
.link_area .left span {
    margin-right: 10px; 
  }
  
  .link_area .left span:last-child {
    margin-right: 0; 
  }

  .link_area .right {
    display: flex; 
    align-items: center; 
  }
  
  .link_area .right span {
    margin-left: 10px; 
  }
  
  .link_area .right span:first-child {
    margin-left: 0; 
  }
  
  .link_area span img {
    width: 20px; 
    height: 20px;
  }
  

.post img {
    height:auto;
    max-width:100%;
    max-height:100% ; 
    width: 100%; 
    object-fit: cover; 
  }
  
/* フォーム要素のスタイル */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* フォーム要素内のラベルと入力フィールドのスタイル */
  label {
    margin: 10px 0;
    font-size: 18px;
  }
  
  input[type="file"],
  input[type="text"],
  button {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
